<!DOCTYPE html>
<ion-view>
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header">

    <ion-list>
      <ion-item ng-repeat="category in categoriesArray track by category.category_id" ng-click="loadProducts(category.category_id)">
        {{category.name}} <br>
        <img ng-src="{{category.image}}">
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
