<!DOCTYPE html>
<ion-view title="{{currentLanguage.pages.products.pageTitle}}" nav-transition="none">
  <ion-nav-bar class="bar-stable bar-positive">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleMenuLeft()">
      </button>
    </ion-nav-buttons>

    <!--<ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>-->

  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header" scroll="false">

    <div id="productsSwiper" class="swiper-container" style="position: absolute; height: 100%;">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" id="swipeHandler">
        <!-- Slides -->
        <div class="swiper-slide" ng-repeat="product in productsArray track by product.id">
          <div class="card" style="height: 90%;">
            <div class="item item-divider">
              {{product.name}}
              <span style="float: right;">{{product.price_formated}}</span>
            </div>
            <div align="center" style="height: 70%;">
              <img data-src="{{product.image}}" class="swiper-lazy">

              <div class="swiper-lazy-preloader"></div>
            </div>
            <div class="item item-text-wrap">
              {{product.description}}
              <p style="margin-top: 3%;">{{product.tag}}</p>
            </div>
          </div>
        </div>

      </div>
      <!-- If we need pagination -->
      <div id="productsPagination" class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div id="productsBtnPrev" class="swiper-button-prev"></div>
      <div id="productsBtnNext" class="swiper-button-next"></div>
    </div>

  </ion-content>
</ion-view>
