<!DOCTYPE html>
<ion-view title="{{currentLanguage.pages.news.pageTitle}}">
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header">

    <!--In case there are no articles-->
    <div style="text-align: center;" ng-if="newsArray.length < 1">
      <h4 class="padding" style="color: lightgrey;">
        Δεν υπάρχουν νέα για προβολή
      </h4>
    </div>


    <div class="list card" ng-repeat="article in newsArray track by $index" ng-if="newsArray.length >= 1">
      <!--Title-->
      <div class="item item-divider">
        {{article.title}}
      </div>
      <!--Body-->
      <div class="item item-body">
        <!--Image-->
        <img ng-if="article.imageUrl !== ''" ng-src="{{article.imageUrl}}">
        <!--Text-->
        <p ng-bind-html="article.text">
          {{article.text}}
        </p>

      </div>
      <!--Footer-->
      <!--<div>
        Footer for future development
      </div>-->
    </div>

  </ion-content>
</ion-view>
