<!DOCTYPE html>
<ion-view nav-transition="none">
  <ion-nav-bar class="bar-stable transparent">
    <ion-nav-buttons side="left">
      <button class="button button-dark icon ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div id="photosSwiper" class="swiper-container" style="position: absolute">
    <div class="swiper-wrapper">
      <div data-background="{{photoImg.image}}" class="swiper-slide swiper-lazy"
           style="-webkit-background-size: cover; background-position: center center; background-repeat: no-repeat;"
           ng-repeat="photoImg in currentLanguage.pages.photos.imagesArray track by $index">
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
</ion-view>
