<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!--<ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">MENU</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
      <ion-list>
        <ion-item menu-close href="#/app/home" class="animated fadeInLeft">
          {{currentLanguage.pages.home.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/presentation" class="animated fadeInLeft">
          {{currentLanguage.pages.presentation.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/photos" class="animated fadeInLeft">
          {{currentLanguage.pages.photos.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/map" class="animated fadeInLeft">
          {{currentLanguage.pages.map.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/newsletter" class="animated fadeInLeft">
          {{currentLanguage.pages.newsletter.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/comments" class="animated fadeInLeft">
          {{currentLanguage.pages.comments.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/news" class="animated fadeInLeft">
          {{currentLanguage.pages.news.pageTitle}}
        </ion-item>
        <ion-item menu-close href="#/app/offers" class="animated fadeInLeft">
          {{currentLanguage.pages.offers.pageTitle}}
        </ion-item>

        <!--!!! To 7 EINAI TO HOME KAI EINAI PRWTO !!!-->

        <ion-item menu-close href="#/app/categories" class="animated fadeInLeft">
          {{currentLanguage.pages.categories.pageTitle}}
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable">
      <img src="img/dwhite.png" style="width: 90%; height: 100%; margin: 0 auto; display: block;">
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
