<!DOCTYPE html>
<ion-view class="background-image">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header">

    <div style="height: 100%; width: 100%;" class="flex-container">
      <div class="flex-item card">
        <!--message-->
        <div class="item item-text-wrap padding">
          {{currentLanguage.pages.newsletter.message}}
        </div>
        <!--email input-->
        <label class="item item-input padding">
          <input type="text" placeholder="email">
        </label>
        <!--submit button-->
        <div style="text-align: center;" class="padding">
          <button class="button button-positive" ng-click="subscribe()">
            {{currentLanguage.pages.newsletter.buttonMessage}}
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
