<!DOCTYPE html>
<ion-view class="background-image" title="{{currentLanguage.pages.presentation.pageTitle}}" nav-transition="none">
  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header">

    <div class="card animated"
         ng-repeat="presentation in currentLanguage.pages.presentation.data track by $index"
         ng-class="{'fadeInLeft':$odd, 'fadeInRight':$even}">
      <div class="item item-divider" style="text-align: center;">
        {{presentation.title}}
      </div>
      <div class="item item-text-wrap" ng-bind-html="presentation.text">
      </div>
    </div>

  </ion-content>
</ion-view>
