<!DOCTYPE html>
<ion-view class="background-image" nav-transition="none">
  <ion-nav-bar class="bar-stable transparent">
    <ion-nav-buttons side="left">
      <button class="button button-dark icon ion-navicon animated fadeInLeft" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear animated fadeInRight" ng-click="changeLanguage()">
        <img ng-src="img/flags/{{currentLanguage.language}}.png" style="width: 55%; height: 55%;">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <div class="logo-container flex-container">
    <img ng-src="img/logo/logo.png" class="flex-item" style="height: 200px; width: 200px;">
  </div>
  <div id="homeSwiper" class="swiper-container" style="position: absolute">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div data-background="{{homeImg.image}}" class="swiper-slide swiper-lazy" style="-webkit-background-size: cover; background-position: center center; background-repeat: no-repeat;"
           ng-repeat="homeImg in currentLanguage.pages.home.imagesArray track by $index">
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
  <div ng-if="currentLanguage" class="card semi-transparent home-card animated fadeInUp">
    <!--<button class="button button-positive button-block icon-left ion-person">{{currentLanguage.pages.home.signButton}}
    </button>-->
    <button class="button button-positive button-block icon-left ion-ios-pricetags"
            ng-click="navigateTo('app.products')">
      {{currentLanguage.pages.home.catalogButton}}
    </button>
  </div>
</ion-view>
