<!DOCTYPE html>
<ion-view class="background-image">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" class="has-header">

    <div style="height: 100%; width: 100%;" class="flex-container">
      <div class="flex-item card" style="width: 100%;">
        <!--FORM-->
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{currentLanguage.pages.comments.name}}</span>
          <input type="text" placeholder="{{currentLanguage.pages.comments.name}}" ng-model="commentsObject.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{currentLanguage.pages.comments.email}}</span>
          <input type="email" placeholder="email" ng-model="commentsObject.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{currentLanguage.pages.comments.comments}}</span>
          <textarea placeholder="..." style="width: 100%;" ng-model="commentsObject.comments"></textarea>
        </label>
        <!--Submit button-->
        <div style="text-align: center;" class="item item-divier padding">
          <button class="button button-positive" ng-click="sendComment()">
            {{currentLanguage.pages.comments.buttonMessage}}
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
